


  .post-container-with-cmt{
    margin: 0 auto 50px;
    width: 45%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
    background-color: #fff;
  }
  .post-container{
    /* color: $bright-color; */
    position: relative;
  }


  .post-container img {
    width: 100%;
    height: 70%;
    
  /* auto auto; */
  }

  
  .post-actions {
    display: flex;
    align-items: center;
    padding: 4px;
    position: absolute;
    bottom: 15%;
    
  }

  .post-actions span {
    margin-left:20px ;
    cursor: pointer;
  }

  .post-actions p {
    margin-left:3px ;
    color: #fff;
  }

  
  .post-actions .view-post-description {
    color: #fff;
    font-size: 1.3rem;
  }
  
  .post-actions .view-post-description:hover{
    color: #4F959D;
    font-size: 1.3rem;
  }

  .post-actions .delete-btn{
    background: none;
    color: #fff;
    font-size: 1.3rem;
    margin-left: 20px;
  }
    

  .post-ownerinfo {
    display: flex;  
    padding:10px 5px 10px 5px;
    column-gap: 10px;
    box-sizing: border-box;
    align-items: center;
  }

  .post-ownerinfo img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    border: 2px solid #817474;
  }

  .post-userinfo-desc h4{
    color: #334454;
    font-size: 1rem;
    margin: 0;
  }

  .post-userinfo-desc .username{
    cursor: pointer;
  }
  
  .post-userinfo-desc p{
    margin: 0;
  }

  .post-description{
    position: absolute;
    top: 0;
    height: 0;

  }

  .post-description{
    position: absolute;
    top: 10%;
    height: 0;
    background-color: white;
    overflow-y: scroll;
    transition: 0.8s ease;
    opacity: 0;
    border-radius: 20px 20px 0 0;
    scrollbar-width: thin;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }


  .post-description.active{
    opacity: 1;
    
    height: 90%;
    width: 90%;
  }

  .post-advanced-actions{
    max-width: 10%;
    /* bottom:40px;   */
  }
  .closing-cmnt-desc-btn{
    position: absolute;
    left: 50%;
    top: 2px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .userinfo-container{
    display: flex;

  }

  .userimg-container{
    width: 40%;
    padding: 20px;
    text-align: right;
  }

  .userimg-container img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid grey;
  }




  .userimg-container h4{
    margin-right: 90px;
  }

  .userinfo-followers {
    text-align: center;
    padding: 50px 20px 10px 0;
    cursor: pointer;
  }

  .liked-button {
    cursor: pointer;
    color: rgb(214, 47, 47);
    font-size: 1.3rem;
  }

  .unliked-button {
    padding: 0;
    cursor: pointer;
    color: #fff;
    font-size: 1.3rem;
  }

  .comment-btn{
    background: none;
    color: #fff;
    border: none;
    font-size: 1.4rem;
    margin-left: 10px;
  }

  .comment {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }


  .comment input {
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    margin-right: 10px;
  }
  
  .comment button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .comment button:hover {
    background-color: #0056b3;
  }
  

  .view-comments {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .view-comments > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .view-comments a {
    color: #007BFF;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: none;
    margin-bottom: 5px;
  }

  .view-comments p {
    margin: 10px 0;
    color: #333;
    font-size: 1rem;
    line-height: 1.4;
  }


  .nav-container{
    display: flex;
    /* margin-bottom: 20px; */
    padding: 20px;
    gap: 10px;
    background-color: #205781;
  }

  .nav-home-link {
    min-width: 65%;
  }

  .nav-home-link {
    background-color:  #205781;
    color: black;
    border: 1px solid #205781;
    cursor: pointer;
    font-size: 2rem;
    padding: 0px 8px 0 8px;
  }

  .nav-home-link button:hover{
    border: 1px solid black;
    border-radius: 5px;
  }

  /* NavBar.css */

  .nav-search-bar {
    align-items: center;
    display: flex; 
    justify-content: space-between;
  }

  .nav-search-bar input {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #f0f0f0; 
    color: #333;
    width: 65%; 
    font-size: 12px; 
    box-sizing: border-box; 
  }

  .nav-search-bar span {
    margin-left: 4px;
    padding: 11px 12px 12px 11px;
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }

  .nav-search-bar i {
    display: none;
  }

  .nav-button {
    background-color: #205781;  
    font-size: 1.95rem;
    border: none;
    cursor: pointer;
  }


  .nav-button:hover{
    border: 1px solid black;
    border-radius: 3px;
  }

  .nav-links{
    background-color: black;
    overflow: hidden;
    transition: width 0.3s ease;
    width: 0;
    position: fixed;
    z-index: 5000;
  }

  .nav-links.active{
    width: 250px;  
    height: 100%;

  }


  .nav-links button{
    font-size: 1.4rem;
    width: 200px;
    text-align: left;
    margin-top: 8px;
    padding: 10px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }

  .nav-links button:hover{
    border-radius: 5px;
    background-color: #FBF6E2;
    color: #205781  ;
  }



  .navbar{
    position:fixed;
    z-index: 1000;
    width: 100%;
    margin-bottom: 30px;
  }


  .notification-icon-unread{
    color: #F8ED8C;
    font-size: 1.75rem;
    background: none;
    border-radius: 750%;
    border: solid red 0.85px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 5px;
    cursor: pointer;
  }


  .notification-icon-read{
    color:#F8ED8C;
    font-size: 1.75rem;
    background: none;
    border-radius: 750%;
    border: solid grey 0.85px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 5px;
    cursor: pointer;
  }


  .notification-tiles {
    background-color: #205781;
    overflow: scroll;
    transition: width 0.3s ease, right 0.3s ease;
    width: 0;
    height: 100%;
    position: fixed;
    right: -250px; 
    z-index: 3000;
  }

  .notification-tiles.active {
    width: 300px;
    right: 0; 
  }

  .notification-tiles.active::-webkit-scrollbar {
    width: 5px;  
    height: 5px; 
  }

  .notification-tiles.active::-webkit-scrollbar-track {
    background-attachment: #f1f1f1;
    border-radius: 10px;
  }

  .notification-tiles.active::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 2px solid #fff;
  }

  .notification-message-unread{
    height: 30px;
    padding: 10px;
    background-color: #4F959D;
    cursor: pointer;
  }

  .notification-message-read{
    height: 30px;
    padding: 10px;
    background-color: #205781;
    cursor: pointer;
  }

  .notification-message-read:hover{
    background-color: #98D2C0;
    border: #98D2C0 solid .05rem;
  }

  .notification-message-unread:hover{
    background-color: #98D2C0;
    border: #98D2C0 solid .05rem;
  }

  .nav-notification-button {
    position: relative; 
    display: inline-block;

}

  .nav-notification-button span {
    position: absolute; 
    top: -8px; 
    right: 1px; 
    border: solid red 2px;
    border-radius: 100px;
    font-size: .75rem;
    background-color: red;
    color: white;
    padding: 0 5px;
    background-size: contain;
    display: flex; 
    align-items: center;
    justify-content: center;
}

  .followers-slide {
    display: flex; 
    overflow-x: scroll; 
    overflow-y: hidden;
    height: 150px;
    white-space: nowrap; 
    padding: 10px 0; 
    margin-top: 0; 
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff; 
}

.followers-slide::-webkit-scrollbar {
  display: none; 
}

.followers-slide li {
    list-style-type: none; 
    padding-right: 20px; 
}

.followers-slide .user-detail-container{
  padding: 20px;
  display: block;
  text-align: right;
  cursor: pointer;
  margin-bottom: 2px;
}

.followers-slide .user-detail-container:hover{
  background-color: #EEEEEE;
}


.followers-slide .user-detail-container img{
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: solid 2px;

} 


.followers-slide .user-detail-container h3{
  position: relative;
  top:-40px;
}


.follower-slide-icon{
  position: absolute;
  right: 30px;
  top:130px;
  border: #888 solid 0.5px;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.follower-slide-icon:hover{
  color: #b4afaf;

 }


 /* for phones and tabs */
 @media (max-width: 600px) {
  .post-container-with-cmt{
    margin: 0 auto 50px;
    width: 95%;
  }

  .post-ownerinfo img{
    width: 45px;
    height: 45px;
    border: 2px solid #817474;
  }


  .post-actions {
    bottom: 15%;
    
  }

  .nav-home-link{
    min-width: 10%;
    display: flex;
    gap: 20px;
  }
  .nav-home-link span{
    display: none;
  }

  .nav-home-link i{
    cursor: pointer;
  }

  
  .nav-search-bar  input{
    min-width: 75%;
  }

  .nav-search-bar span {
    display: none;
  }
  
  
  .nav-links.active{
    width: 100%;  
    height: 100%;

  }

  
  .notification-tiles.active {
    border: #333;
    border-top: solid;
    width: 100%;
    right: 0; 
  }

  .nav-search-bar i {
    font-size: .98rem;
    margin-left: 4px;
    display: inline-block;
    color: wheat;
    background-color: black;
    padding: 8px 9px 9px 8px;
    border-radius: 5px;
    cursor: pointer;
  }

  .nav-button-holder{
    width: 12%;

    }

  /*swaps search and notification*/
  .nav-container .item-2{
      order: 2;
  }

  .nav-container .item-3{
    order: 1;
}

  .nav-container .item-4{
  order: 4;
}


.userinfo-container{
  display: flex;
  padding-top: 0;
}

.userimg-container{
  width: 160px;
  padding-left: 2px;
  padding-right: 20px;
  /* gap: 30px; */
}

.userimg-container img{
  width: 120px;
  height: 120px;
}

.userinfo-followers{
  text-align: right;
  padding: 30px 40px 40px 0;
}

.userinfo-followers h1{
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.userinfo-followers h2{
  font-size: 15px;
  cursor: pointer;
}
    }