.home-posts-container{
    display: flex;
    margin-left: 350px;
    flex-wrap: wrap;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}


.home-posts-container .post-container {
    flex: 0 0 30%;
    width: 240px;
    height: 240px;
    margin: 2px;
    padding: 3px;
}

.home-posts-container .post-container img {
    height: 100%;
    width: 100%;
}

.home-username {
    width: 100%;
    text-align: center;
}