html, body {
    height: 100%;
    margin: 0;
}

.login-component {
    background-image: url('../public/frontimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensures the background covers the entire viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* This vertically centers your content */
}

.login-container {
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Optional: Adds a slight dark overlay to improve text readability */
    border-radius: 10px;
    max-width: 400px; /* You can adjust the width to your liking */
    color: white;
}

.login-container h3.app-name {
    text-align: center;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-container input[type="text"], input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}


@media (max-width: 768px) {
    .login-component{
        padding-top: 30px;
    }
}