.user-posts-page  {
  padding-top: 40px;
  height: 100%;
}

.prev-button, .next-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rgb(14, 0, 0);
    background: none;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin: 20px;
  }

.next-button {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev-button {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

.prev-button:hover, .next-button:hover {
    color: beige;
  }
  


@media (max-width: 768px) {
  .prev-button, .next-button {
    cursor: pointer;
    position: absolute;
    top: 80%;
    margin-left:2px ;
    margin-right: -2px;
  } 

  
  .user-posts-page  {
    padding-top: 40px;
    height: 100%;
    min-width: 100%;
  }

}